@page
@model ExtraPoints_Grillino.Pages.FoodDetailsModel
@{
    ViewData["Title"] = Model.Food.Name;
}
<section class="food-details-wrapper food-details-layout1 pt-lg-150 pt-60 pb-lg-120 pb-30">
    <div class="container">
        <div class="row">

            <div class="food-details-area">
                <div class="food-details-header position-relative mb-25 mb-lg-30">
                    <div class="food-image image-scale-hover">
                        <img src="@Model.Food.FullImagePath" alt="Food Image" class="w-100">
                    </div>
                    <div class="food-name-box bg-white px-15 px-md-40 py-15 py-md-30 mt-4 mt-md-0">
                        <h2 class="h4 food-name mb-0 mt-0">@Model.Food.Name</h2>

                        <div class="food-price  text-theme">$@Model.Food.Price</div>
                    </div>
                </div>
                <div class="food-details-content">
                    
                    <p class="text">@Model.Food.Description</p>
                    <div class="row pt-10">
                        <div class="col-md-6">
                            <div class="box bg-smoke mb-30 px-xl-40 px-sm-30 px-15 py-xl-40 py-sm-30 py-15">
                                <h3>Ingredients</h3>
                                <ul class="vs-list-style1">
                                    @foreach (var item in Model.Food.GetIngredients())
                                    {
                                        <li>
                                            @item
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>