@page
@model ExtraPoints_Grillino.Pages.FoodDetailsModel
@{
    ViewData["Title"] = "About Food";
}
<section class="food-details-wrapper food-details-layout1 pt-lg-150 pt-60 pb-lg-120 pb-30">
    <div class="container">
        <div class="row">

            <div class="food-details-area">
                <div class="food-details-header position-relative mb-25 mb-lg-30">
                    <div class="food-image image-scale-hover">
                        <img src="assets/img/food-menu/food-details-1-1.jpg" alt="Food Image" class="w-100">
                    </div>
                    <div class="food-name-box bg-white px-15 px-md-40 py-15 py-md-30 mt-4 mt-md-0">
                        <h2 class="h4 food-name mb-0 mt-0">Grilled Dry Chicken</h2>

                        <div class="food-price  text-theme">$19.99</div>
                    </div>
                </div>
                <div class="food-details-content">
                    <p>Rapidiously benchmark extensive "outside the box" thinking whereas functionalized e-business. Seamlessly innovate professional imperatives and efficient experiences. Efficiently predominate parallel total linkage with market positioning meta-services. Conveniently initiate client-centered users and future-proof communities. Efficiently mesh backend growth strategies vis-a-vis seamless portals.</p>
                    <p>Holisticly evisculate competitive expertise after out-of-the-box core competencies. Credibly grow optimal alignments and an expanded array of convergence.</p>

                    <p class="text">Compellingly reintermediate robust portals whereas plug-and-play architectures. Progressively enable premium data for viral relationships. Distinctively aggregate efficient data after integrated potentialities.</p>
                    <div class="row pt-10">
                        <div class="col-md-6">
                            <div class="box bg-smoke mb-30 px-xl-40 px-sm-30 px-15 py-xl-40 py-sm-30 py-15">
                                <h3>Ingredients</h3>
                                <ul class="vs-list-style1">
                                    <li>60 ml extra virgin olive</li>
                                    <li>Ghee 15gmNaN</li>
                                    <li>Water: 250mlNaN</li>
                                    <li>Potato: 250gmNaN</li>
                                    <li>Mustard Oil: 15mlNaN</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box bg-smoke mb-30 px-xl-40 px-sm-30 px-15 py-xl-40 py-sm-30 py-15">
                                <h3>Nutrition</h3>
                                <ul class="vs-list-style1">
                                    <li>Protine: 6.60g</li>
                                    <li>Fat: 10g</li>
                                    <li>Minerel: 15g</li>
                                    <li>Water: 150ml</li>
                                    <li>Carbohydrate : 15g</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>